[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django ="~=3.0"
beautifulsoup4 = "~=4.8"
uwsgi = "*"
pysqlite3_binary = "==0.4.2"

[dev-packages]
pylint = "*"
